@page "/"

<PageTitle>Home</PageTitle>

<div class="px-1 text-center">
    <h1 class="display-4 fw-bold">KNORR-BREMSE Insight</h1>

    <h2 class="display-5">Manage production assembly lines, stations and more.</h2>


    <div class="overflow-hidden" style="max-height: 70vh">
        <div class="px-1">
            <img src="media/industry-trends-header_384x143_1920w.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" />
        </div>
    </div>

    <h1 class="display-4 fw-bold">Site: Aldersbach</h1>
</div>